@import url("./colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: 0;
}

#cpu,
#memory,
#workspaces,
#submap,
#user,
#clock {
    background: @background-darker;
    padding: 0px 10px;
    margin: 0px 0px;
    margin-top: 5px;
    border: 1px solid #181825;
}

#cpu,
#memory,
#submap,
#workspaces button{
    color: @selection;
    border: none;
}

#submap,
#workspaces {
    border-radius: 10px;
    margin-right: 5px;
}

#workspaces button {
    background: @background-darker;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;   
    background: @background-darker;
    border: @background-darker;
}

#workspaces button.active {
    color: @red
}

#user,
#clock {
    color: @green;
    border-radius: 10px;
    margin-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 5px;
}

#memory.medium,
#cpu.medium {
    color: @orange;
}

#memory.medium,
#cpu.high {
    color: @red;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}
