@define-color background-darker rgba(30, 31, 41, 230);
@define-color background #282a36;
@define-color selection #44475a;
@define-color foreground #f8f8f2;
@define-color comment #6272a4;
@define-color cyan #8be9fd;
@define-color green #50fa7b;
@define-color orange #ffb86c;
@define-color pink #ff79c6;
@define-color purple #bd93f9;
@define-color red #ff5555;
@define-color yellow #f1fa8c;

* {
  border: none;
  border-radius: 0;
  font-family:
    Symbols Nerd Font,
    monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

/* no states */
#clock,
#user,
#submap,
#custom-mako,
#network,
#bluetooth,
#backlight,
#battery.standalone,
#custom-wlinhibit,
#battery {
  color: @green;
}

/* standalone rounded */
#user,
#wireplumber,
#clock,
#workspaces,
#network,
#bluetooth,
#battery.standalone,
#custom-wlinhibit,
#submap {
  border: 1px solid #181825;
  border-radius: 10px;
  margin-left: 4px;
  margin-right: 4px;
}

/* left rounded */
#custom-mako,
#battery,
#memory {
  border-left: 1px solid #181825;
  border-top: 1px solid #181825;
  border-bottom: 1px solid #181825;
  border-radius: 10px 0px 0px 10px;
  margin-left: 4px;
}

/* right rounded */
#backlight,
#cpu {
  border-right: 1px solid #181825;
  border-top: 1px solid #181825;
  border-bottom: 1px solid #181825;
  border-radius: 0px 10px 10px 0px;
  margin-right: 4px;
}

window#waybar {
  background: 0;
}

/* shared */
#cpu,
#memory,
#workspaces,
#submap,
#user,
#wireplumber,
#custom-mako,
#battery,
#network,
#bluetooth,
#backlight,
#battery.standalone,
#custom-wlinhibit,
#clock {
  background: @background-darker;
  padding: 0px 10px;
  margin-top: 5px;
}

#cpu,
#memory,
#workspaces button {
  color: @selection;
  border: none;
}

#submap,
#workspaces {
  border-radius: 10px;
}

#workspaces button {
  background: @background-darker;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @background-darker;
  border: @background-darker;
}

#workspaces button.active {
  color: @red;
}

#memory.medium,
#cpu.medium {
  color: @orange;
}

#memory.high,
#wireplumber.high,
#battery.standalone.low,
#battery.low,
#cpu.high {
  color: @red;
}

#wireplumber.muted,
#bluetooth.disabled,
#custom-wlinhibit.deactivated {
  color: @selection;
}
